# SPDX-FileCopyrightText: NONE
# SPDX-FileNotice: Uncopyrightable content
# SPDX-License-Identifier: CC0-1.0

# Coverage.py output
.coverage
htmlcov/

# Caches and build directories.
__pycache__
build/
dist/
*.egg-info/
docs/html/
